@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4, coluna">Bem Vindo(a)</h1><br />
    <p>
        <h6>Experimente a Melhor Alocação de Aluguel de Produtos: A Solução para suas Necessidades Temporárias!</h6><br />

    </p>

    <div>

        Seja para um evento especial, um projeto único ou apenas para experimentar algo novo, nossa loja de alocação e gestão de produtos está aqui<br />
        para atender a todas as suas necessidades. Com uma ampla variedade de produtos de altaqualidade disponíveis para aluguel, oferecemos uma <br /> alternativa
        inteligente e econômica à compra.

    </div>
    <table>
        <tr>
            <td><img class="imagens" src="~/img/Imagem1.jpg" width="700px" height="350px" /></td>

            <td class="texto-imagem1">
                Nossa vasta gama de produtos de alta qualidade inclui tudo o que você precisa para tornar sua festa um sucesso estrondoso. De decorações elegantes a equipamentos de última geração, temos tudo para atender às suas necessidades.
            </td>
        </tr>

    </table><br />
    <hr /><br /><br /><br />

    <table>
        <tr>
            <td class="texto-imagem1">
                Mas não somos apenas uma empresa de aluguel de produtos para festas. Somos seus parceiros confiáveis na criação de experiências incríveis. Nossa equipe dedicada trabalha incansavelmente para garantir que cada detalhe esteja perfeito, para que você possa se concentrar no que realmente importa - aproveitar a festa.
            </td>

            <td><img class="imagem2" src="~/img/Imagem2.jpeg" width="700px" height="350px" /></td>


        </tr>

    </table>


</div>

