@page
@model GestaoLocacoes.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
    var categoryList = new List<SelectListItem>
    {
        new SelectListItem("Eletrônicos", "Eletrônicos"),
        new SelectListItem("Mobília", "Mobília"),
        new SelectListItem("Imóveis", "Imóveis"),
        new SelectListItem("Veículos", "Veículos"),
        new SelectListItem("Maquinário", "Maquinário"),
        new SelectListItem("Vestuário", "Vestuário"),
        new SelectListItem("Decoração", "Decoração"),
        new SelectListItem("Utensílios", "Utensílios")
    };
}

<h1>Novo produto</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Categorie" class="control-label"></label>
                <select asp-for="Product.Categorie" asp-items="categoryList" class="form-control">
                    <option value="">Selecione a Categoria</option>
                </select>
                <span asp-validation-for="Product.Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.RentPriceByDay" class="control-label"></label>
                <input asp-for="Product.RentPriceByDay" class="form-control" />
                <span asp-validation-for="Product.RentPriceByDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
